<div>
  <h1>Formulario de contacto</h1>
  <div class="form-group">
    <label>Nombre:</label>
    <input type="text" class="form-control" [(ngModel)]="nombre">
    <br>
  </div>
  <div class="form-group">
    <label>Email:</label>
    <input type="email" class="form-control" [(ngModel)]="email">
    <br>
  </div>
  <div class="form-group">
    <label>Mensaje:</label>
    <textarea class="form-control" [(ngModel)]="mensaje"></textarea>
    <br>
  </div>
  <div class="form-group">
    <label>10 + 15 = ?</label>
    <input type="text" class="form-control" [(ngModel)]="respuesta">
    <br>
  </div>
  <button (click)="datosForm()" >Enviar</button>
  <app-form [valor] = "datos"></app-form>
</div>

<router-outlet></router-outlet>
